@import 'reset.css';
.box {
    border: 1px solid grey;
    height: 100px;
    width: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    width: 200px;
    padding-left: 5px;
}

#createSucc {
    color: green;
}